<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap CDN css sheet-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block head %}
    {% endblock %}
</head>

<body class="bg-dark">

    {% block nav %}
    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="#">RSS Grid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {{ 'active' if active_page=='home' }}" href="{{url_for('routes.home')}}">Home</a>

            </div>
            <div class="navbar-collapse justify-content-end">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="https://github.com/willfir">Github</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- NAVBAR END -->
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>
</html>