{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block head %}
    <title>{{ main_settings['title'] }}</title>
{% endblock %}

{% block body%}
    <div class="container mt-3 text-light centered">
        <p>A simple web aggregator</p>


        {# Set up the grid #}
        <div class="row">
            {% for j in range(item_count) %}
            {# Add columns to the row. Each column contains feed.html #}
                {# Get the key of the current feed's reader #}
                {% set current_feed_key = feeds_dict_keys.pop() %}

                {# Call show_feed() and render the returned html as safe #}
                {{ show_feed(current_feed_key, 6, being_included=True)|safe }}

            {% endfor %}
        </div>


    </div>

{% endblock %}
